<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atlas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.svg", class="d-inline-block align-top", width="30", height="30" %>
          Atlas
        </a>
      </div>
    </nav>
    <div id="alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
