<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atlas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.svg", :class => "d-inline-block align-top", :width => "32", :height => "32" %>
          Atlas
        </a>
        <div class="d-flex justify-content-end">
          <a href="/users/sign_in" class="btn btn-outline-primary">Sign in</a>
          <a href="/users/sign_up" class="btn btn-dark">Sign up</a>
        </div>
      </div>
    </nav>
    <div id="alerts">
      <p class="notice alert alert-warning" role="alert"><%= notice %></p>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    </div>
    <div class="card">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
